In [705]:
import requests
import pandas as pd

In [706]:
df_city_bikes = pd.read_csv("data.csv")

In [708]:
df_city_bikes

,Unnamed: 0,Latitude,Longitude,Available Bikes,Empty Slots,Station ID
0,0,48.865983,2.275725,1,29,213688169
1,1,48.853756,2.339096,0,52,99950133
2,2,48.867872,2.364898,4,12,312165511
3,3,48.856452,2.334852,2,13,210405211
4,4,48.879296,2.337360,1,20,36255
...,...,...,...,...,...,...
1455,1455,48.939959,2.327957,13,1,17527110170
1456,1456,48.936094,2.343617,11,1,18013122841
1457,1457,48.832024,2.490271,4,1,16043282800
1458,1458,48.880598,2.376949,0,27,54000594
1459,1459,48.836919,2.391678,2,5,18013132487

In [709]:
lat_long_list = []
for index, row in df_city_bikes.iterrows():
    lat_long_pair = f"{row['Latitude']},{row['Longitude']}"
    lat_long_list.append(lat_long_pair)

## Connect to the Foursquare API

In [711]:
import requests

my_foursquare_list = [] 

for i in lat_long_list[:200]:
    url = 'https://api.foursquare.com/v3/places/search'
    params = {
    'll': i,
       # add cattg
        #change radius to 1000 
    'radius': '1500'
    }
    headers = {
    'Authorization': 'fsq3NdGSIa5Ad+xZqw2h+60RA6anmjwqN7nG23mecDcLMdk='
    }

    response = requests.get(url, headers=headers, params=params)

    if response.status_code == 200:
        response_json = response.json()
        my_foursquare_list.append(response_json) 

        
    
    else:
        print(f"Error: {response.status_code}")

In [1014]:
len(my_foursquare_list)

200

## Testing

In [724]:
# my_foursquare_list[1]['results'][0]['categories'][0]['name']

In [725]:
# my_foursquare_list[2]['results'][0]

In [726]:
# my_foursquare_list[1]['results'][0]['categories'][0]['short_name']

In [716]:
# category_list = []
# formatted_address_list = []
# country_list = []
# locality_list = []
# region_list = []
# type_list = [] 
# name_list = []


# for i in my_foursquare_list:
#     try:
#         category_list.append(i['results'][0]['categories'][0]['name']) 
#     except (KeyError, IndexError):
#         category_list.append(None)  # Appending None or any default value when key/index is missing
    
#     try:
#         formatted_address_list.append(i['results'][0]['location']['formatted_address'])
#     except (KeyError, IndexError):
#         formatted_address_list.append(None)
    
#     try:
#         country_list.append(i['results'][0]['location']['country'])
#     except (KeyError, IndexError):
#         country_list.append(None)
    
#     try:
#         locality_list.append(i['results'][0]['location']['locality'])
#     except (KeyError, IndexError):
#         locality_list.append(None)
    
#     try:
#         region_list.append(i['results'][0]['location']['region'])
#     except (KeyError, IndexError):
#         region_list.append(None)
    
#     try:
#         type_list.append(i['results'][0]['categories'][1]['name'])
#     except (KeyError, IndexError):
#         type_list.append(None)
        
#     try:
#         name_list.append(i['results'][0]['categories'][2]['name'])
#     except (KeyError, IndexError):
#         name_list.append(None) 
        
        
    
        
        
        
        

# print(name_list)

## Creating a foursquare dataframe

In [1033]:
foursquare_pd = pd.DataFrame() 

for i in range(len(my_foursquare_list)):
    normalized_results = pd.json_normalize(my_foursquare_list[i]['results'])
    foursquare_pd = pd.concat([foursquare_pd, normalized_results], ignore_index=True)

In [1034]:
foursquare_pd.head(100)

,fsq_id,categories,chains,closed_bucket,distance,link,name,timezone,geocodes.drop_off.latitude,geocodes.drop_off.longitude,geocodes.main.latitude,geocodes.main.longitude,geocodes.roof.latitude,geocodes.roof.longitude,location.address,location.admin_region,location.country,location.cross_street,location.formatted_address,location.locality,location.postcode,location.region,related_places.parent.fsq_id,related_places.parent.categories,related_places.parent.name,related_places.children
0,57caabf0cd107656b7a22851,"[{'id': 13034, 'name': 'Café', 'short_name': '...",[],VeryLikelyOpen,246,/v3/places/57caabf0cd107656b7a22851,Le Zinc du 16,Europe/Paris,48.868030,2.275420,48.868086,2.275336,48.868086,2.275336,58 rue de la Faisanderie,Île-de-France,FR,,"58 rue de la Faisanderie, 75116 Paris",Paris,75116,Île-de-France,NaN,NaN,NaN,NaN
1,4b1ff559f964a520592b24e3,"[{'id': 13057, 'name': 'Gastropub', 'short_nam...",[],VeryLikelyOpen,324,/v3/places/4b1ff559f964a520592b24e3,Le Flandrin,Europe/Paris,NaN,NaN,48.864248,2.272152,48.864248,2.272152,4 place Tattegrain,Île-de-France,FR,NaN,"4 place Tattegrain, 75116 Paris",Paris,75116,Île-de-France,NaN,NaN,NaN,NaN
2,628f3fb0f6e50f2be3a6711b,"[{'id': 13035, 'name': 'Coffee Shop', 'short_n...",[],LikelyOpen,411,/v3/places/628f3fb0f6e50f2be3a6711b,Noir - Coffee Shop & Torréfacteur,Europe/Paris,NaN,NaN,48.867361,2.280951,NaN,NaN,32 Rue Gustave Courbet,Île-de-France,FR,,"32 Rue Gustave Courbet, 75116 Paris",Paris,75116,Île-de-France,NaN,NaN,NaN,NaN
3,4bd2d23541b9ef3bdabcfee5,"[{'id': 13002, 'name': 'Bakery', 'short_name':...",[],LikelyOpen,487,/v3/places/4bd2d23541b9ef3bdabcfee5,Béchu,Europe/Paris,NaN,NaN,48.868176,2.281501,48.868176,2.281501,118 avenue Victor Hugo,Île-de-France,FR,NaN,"118 avenue Victor Hugo, 75016 Paris",Paris,75016,Île-de-France,NaN,NaN,NaN,NaN
4,5bf2afc17e210b0025f5f0ed,"[{'id': 13065, 'name': 'Restaurant', 'short_na...",[],LikelyOpen,528,/v3/places/5bf2afc17e210b0025f5f0ed,Restaurant Brach,Europe/Paris,NaN,NaN,48.861246,2.275068,NaN,NaN,Hôtel Brach,Île-de-France,FR,1-7 rue Jean Richepin,"Hôtel Brach (1-7 rue Jean Richepin), 75116 Paris",Paris,75116,Île-de-France,5bd97fb41fa763002cbcf8ba,"[{'id': 19014, 'name': 'Hotel', 'short_name': ...",Brach Paris,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4d602544865a224b2091a785,"[{'id': 13148, 'name': 'French Restaurant', 's...",[],LikelyOpen,441,/v3/places/4d602544865a224b2091a785,L'Huîtrier,Europe/Paris,48.879718,2.296133,48.879790,2.296195,48.879790,2.296195,16 rue Saussier Leroy,Île-de-France,FR,NaN,"16 rue Saussier Leroy, 75017 Paris",Paris,75017,Île-de-France,NaN,NaN,NaN,NaN
96,4b06936bf964a52051ed22e3,"[{'id': 13152, 'name': 'Brasserie', 'short_nam...",[],VeryLikelyOpen,447,/v3/places/4b06936bf964a52051ed22e3,Les Gourmets des Ternes,Europe/Paris,48.878351,2.299399,48.878178,2.299436,48.878178,2.299436,87 boulevard de Courcelles,Île-de-France,FR,NaN,"87 boulevard de Courcelles, 75008 Paris",Paris,75008,Île-de-France,NaN,NaN,NaN,NaN
97,4f6081bce4b0382505fcc3ae,"[{'id': 13031, 'name': 'Burger Joint', 'short_...",[],VeryLikelyOpen,451,/v3/places/4f6081bce4b0382505fcc3ae,Schwartz's Deli,Europe/Paris,48.880630,2.295209,48.880522,2.295433,48.880522,2.295433,22 avenue Niel,Île-de-France,FR,Rue Saussier-Leroy,"22 avenue Niel (Rue Saussier-Leroy), 75017 Paris",Paris,75017,Île-de-France,NaN,NaN,NaN,NaN
98,4b1f9255f964a520052724e3,"[{'id': 13148, 'name': 'French Restaurant', 's...",[],VeryLikelyOpen,488,/v3/places/4b1f9255f964a520052724e3,Petrus,Europe/Paris,48.885142,2.296719,48.885257,2.296580,48.885257,2.296580,12 place du Maréchal. -Juin,Île-de-France,FR,NaN,"12 place du Maréchal. -Juin, 75017 Paris",Paris,75017,Île-de-France,NaN,NaN,NaN,NaN
99,51aa304a498ed5e684f787d3,"[{'id': 13276, 'name': 'Sushi Restaurant', 'sh...",[],LikelyOpen,507,/v3/places/51aa304a498ed5e684f787d3,Okamé,Europe/Paris,NaN,NaN,48.877444,2.298819,48.877444,2.298819,235 rue du Faubourg Saint-Honoré,Île-de-France,FR,Place des Ternes,235 rue du Faubourg Saint-Honoré (Place des Te...,Paris,75008,Île-de-France,NaN,NaN,NaN,NaN

In [1036]:
foursquare_pd['Categories'] = my_foursquare_list[i]['results'][0]['categories'][0]['name']

In [1037]:
foursquare_pd['Station ID'] = df_city_bikes['Station ID']

In [1038]:
foursquare_pd.head(100)

,fsq_id,categories,chains,closed_bucket,distance,link,name,timezone,geocodes.drop_off.latitude,geocodes.drop_off.longitude,geocodes.main.latitude,geocodes.main.longitude,geocodes.roof.latitude,geocodes.roof.longitude,location.address,location.admin_region,location.country,location.cross_street,location.formatted_address,location.locality,location.postcode,location.region,related_places.parent.fsq_id,related_places.parent.categories,related_places.parent.name,related_places.children,Categories,Station ID
0,57caabf0cd107656b7a22851,"[{'id': 13034, 'name': 'Café', 'short_name': '...",[],VeryLikelyOpen,246,/v3/places/57caabf0cd107656b7a22851,Le Zinc du 16,Europe/Paris,48.868030,2.275420,48.868086,2.275336,48.868086,2.275336,58 rue de la Faisanderie,Île-de-France,FR,,"58 rue de la Faisanderie, 75116 Paris",Paris,75116,Île-de-France,NaN,NaN,NaN,NaN,Financial Planner,213688169.0
1,4b1ff559f964a520592b24e3,"[{'id': 13057, 'name': 'Gastropub', 'short_nam...",[],VeryLikelyOpen,324,/v3/places/4b1ff559f964a520592b24e3,Le Flandrin,Europe/Paris,NaN,NaN,48.864248,2.272152,48.864248,2.272152,4 place Tattegrain,Île-de-France,FR,NaN,"4 place Tattegrain, 75116 Paris",Paris,75116,Île-de-France,NaN,NaN,NaN,NaN,Financial Planner,99950133.0
2,628f3fb0f6e50f2be3a6711b,"[{'id': 13035, 'name': 'Coffee Shop', 'short_n...",[],LikelyOpen,411,/v3/places/628f3fb0f6e50f2be3a6711b,Noir - Coffee Shop & Torréfacteur,Europe/Paris,NaN,NaN,48.867361,2.280951,NaN,NaN,32 Rue Gustave Courbet,Île-de-France,FR,,"32 Rue Gustave Courbet, 75116 Paris",Paris,75116,Île-de-France,NaN,NaN,NaN,NaN,Financial Planner,312165511.0
3,4bd2d23541b9ef3bdabcfee5,"[{'id': 13002, 'name': 'Bakery', 'short_name':...",[],LikelyOpen,487,/v3/places/4bd2d23541b9ef3bdabcfee5,Béchu,Europe/Paris,NaN,NaN,48.868176,2.281501,48.868176,2.281501,118 avenue Victor Hugo,Île-de-France,FR,NaN,"118 avenue Victor Hugo, 75016 Paris",Paris,75016,Île-de-France,NaN,NaN,NaN,NaN,Financial Planner,210405211.0
4,5bf2afc17e210b0025f5f0ed,"[{'id': 13065, 'name': 'Restaurant', 'short_na...",[],LikelyOpen,528,/v3/places/5bf2afc17e210b0025f5f0ed,Restaurant Brach,Europe/Paris,NaN,NaN,48.861246,2.275068,NaN,NaN,Hôtel Brach,Île-de-France,FR,1-7 rue Jean Richepin,"Hôtel Brach (1-7 rue Jean Richepin), 75116 Paris",Paris,75116,Île-de-France,5bd97fb41fa763002cbcf8ba,"[{'id': 19014, 'name': 'Hotel', 'short_name': ...",Brach Paris,NaN,Financial Planner,36255.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4d602544865a224b2091a785,"[{'id': 13148, 'name': 'French Restaurant', 's...",[],LikelyOpen,441,/v3/places/4d602544865a224b2091a785,L'Huîtrier,Europe/Paris,48.879718,2.296133,48.879790,2.296195,48.879790,2.296195,16 rue Saussier Leroy,Île-de-France,FR,NaN,"16 rue Saussier Leroy, 75017 Paris",Paris,75017,Île-de-France,NaN,NaN,NaN,NaN,Financial Planner,82567101.0
96,4b06936bf964a52051ed22e3,"[{'id': 13152, 'name': 'Brasserie', 'short_nam...",[],VeryLikelyOpen,447,/v3/places/4b06936bf964a52051ed22e3,Les Gourmets des Ternes,Europe/Paris,48.878351,2.299399,48.878178,2.299436,48.878178,2.299436,87 boulevard de Courcelles,Île-de-France,FR,NaN,"87 boulevard de Courcelles, 75008 Paris",Paris,75008,Île-de-France,NaN,NaN,NaN,NaN,Financial Planner,230877798.0
97,4f6081bce4b0382505fcc3ae,"[{'id': 13031, 'name': 'Burger Joint', 'short_...",[],VeryLikelyOpen,451,/v3/places/4f6081bce4b0382505fcc3ae,Schwartz's Deli,Europe/Paris,48.880630,2.295209,48.880522,2.295433,48.880522,2.295433,22 avenue Niel,Île-de-France,FR,Rue Saussier-Leroy,"22 avenue Niel (Rue Saussier-Leroy), 75017 Paris",Paris,75017,Île-de-France,NaN,NaN,NaN,NaN,Financial Planner,82379648.0
98,4b1f9255f964a520052724e3,"[{'id': 13148, 'name': 'French Restaurant', 's...",[],VeryLikelyOpen,488,/v3/places/4b1f9255f964a520052724e3,Petrus,Europe/Paris,48.885142,2.296719,48.885257,2.296580,48.885257,2.296580,12 place du Maréchal. -Juin,Île-de-France,FR,NaN,"12 place du Maréchal. -Juin, 75017 Paris",Paris,75017,Île-de-France,NaN,NaN,NaN,NaN,Financial Planner,129021753.0
99,51aa304a498ed5e684f787d3,"[{'id': 13276, 'name': 'Sushi Restaurant', 'sh...",[],LikelyOpen,507,/v3/places/51aa304a498ed5e684f787d3,Okamé,Europe/Paris,NaN,NaN,48.877444,2.298819,48.877444,2.298819,235 rue du Faubourg Saint-Honoré,Île-de-France,FR,Place des Ternes,235 rue du Faubourg Saint-Honoré (Place des Te...,Paris,75008,Île-de-France,NaN,NaN,NaN,NaN,Financial Planner,129011497.0

In [1039]:
len(foursquare_pd)

2000

## Connect to the Yelp API.

In [903]:
import requests


my_yelp_list = []
for location in lat_long_list[:200]:
    
    lat_lon = location.split(",")
    lat = float(lat_lon[0])
    lon = float(lat_lon[1])

    
    url = 'https://api.yelp.com/v3/businesses/search'
    params = {
        'latitude': lat,
        'longitude': lon,
        'radius': '1500'  
    }
    headers = {
        'Authorization': 'Bearer OtqFQieov52oe2O9nGe8LTBRLNTBX2IYDlu09rIT6vJQz4kXeg1YrVAQze7zNhThJ74bPR06mPSFKulGQ_09Fr_AaHTUQ3viOxSMYKx9kxB3UbwndfQga7A37wJXZXYx'
    }

    response_yelp = requests.get(url, headers=headers, params=params)
    

    if response_yelp.status_code == 200:
        response_yelp_json = response_yelp.json()
        my_yelp_list.append(response_yelp_json)

In [1041]:

yelp_pd = pd.DataFrame()  

for i in range(len(my_yelp_list)):
    normalized_businesses = pd.json_normalize(my_yelp_list[i]['businesses'])
    yelp_pd = pd.concat([yelp_pd, normalized_businesses], ignore_index=True)

In [1042]:
len(yelp_pd)

4000

In [1043]:
yelp_pd['Station ID'] = df_city_bikes['Station ID']

In [1044]:
my_yelp_list[0]['businesses'][0]['categories'][0]['alias']

'french'

In [1082]:
Final_pd = pd.merge(yelp_pd, foursquare_pd, on='Station ID',how='inner')

In [1117]:

pd.set_option('display.max_columns', None)  

Final_pd.head(1)

,name,rating,review count,price,categories,address,region,city,country,status,Station ID,coordinates latitude,coordinates longitude
0,Le Zinc du 16,4.5,511,€€,"[{'id': 13034, 'name': 'Café', 'short_name': '...",58 rue de la Faisanderie,Île-de-France,Paris,FR,VeryLikelyOpen,213688169.0,48.868105,2.284365

deleting unwanted columns

In [1086]:

Final_pd.drop(columns=['id','image_url'], inplace=True)

Final_pd.drop(columns=['url','phone','display_phone'], inplace=True)
Final_pd.drop(columns=['related_places.children','related_places.parent.name','related_places.parent.categories','related_places.parent.fsq_id'], inplace=True) 

Final_pd.drop(columns=['location.postcode','location.cross_street','geocodes.roof.latitude','geocodes.roof.longitude','geocodes.drop_off.longitude','timezone'], inplace=True)

In [1089]:
Final_pd.drop(columns=['distance_x','location.address2','location.address3'], inplace=True)
Final_pd.drop(columns=['chains'], inplace=True)

Final_pd.drop(columns=['transactions'], inplace=True)


Final_pd.drop(columns=['location.admin_region'], inplace=True)

Final_pd.drop(columns=['is_closed','location.locality'], inplace=True)

Final_pd.drop(columns=['location.country_y'], inplace=True)

Final_pd.drop(columns=['alias'], inplace=True)

Final_pd.drop(columns=['location.address1','location.zip_code','location.state','location.display_address','fsq_id','distance_y','link','location.formatted_address'], inplace=True)


Final_pd.drop(columns=['geocodes.main.longitude','geocodes.main.latitude','geocodes.drop_off.latitude'], inplace=True)

In [1090]:
Final_pd.drop(columns=['name_x','categories_x'], inplace=True)

In [1092]:
Final_pd.drop(columns=['Categories'], inplace=True)

Renaming cells

In [1115]:
Final_pd.rename(columns={'review_count':'review count','coordinateslatitude':'coordinates latitude','coordinates.longitude':'coordinates longitude'}, inplace=True)
Final_pd.rename(columns={'location.city':'city','location.country_x':'country','categories_y':'categories'}, inplace=True)
Final_pd.rename(columns={'closed_bucket':'status', 'name_y':'name','location.address':'address','location.region':'region'}, inplace=True)

Ordering columns

In [1118]:

desired_order = ['name','rating','review count','price','categories','address','region','city','country','status','Station ID','coordinates latitude','coordinates longitude'] 

Final_pd = Final_pd[desired_order]

In [1124]:
Final_pd['categories'] = Final_pd['categories'][i][0]['name']

'Café'

In [1126]:
for i in range(len(Final_pd)):
    try:
        category_name = Final_pd['categories'][i][0]['name']
        Final_pd.at[i, 'categories'] = category_name
    except (KeyError, IndexError):
        Final_pd.at[i, 'categories'] = None

Adding the Number of Available Bikes to my dataframe

In [1125]:
Final_pd['Number of Available Bikes'] = df_city_bikes['Available Bikes']

Put your parsed results into a DataFrame

In [ ]:
Final_pd.to_csv('Final_pd.csv')

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating

In [3]:
import pandas as pd

df = pd.read_csv('final_data.csv') 

df.drop(columns=['Unnamed: 0'], inplace=True)

df.dropna(axis=0, how='any', inplace=True)

df

,name,rating,review count,price,categories,address,region,city,country,status,Station ID,coordinates latitude,coordinates longitude,Number of Available Bikes
0,Le Zinc du 16,4.5,511,€€,Café,58 rue de la Faisanderie,Île-de-France,Paris,FR,VeryLikelyOpen,2.136882e+08,48.868105,2.284365,1.0
1,Le Flandrin,4.5,241,€€€,Gastropub,4 place Tattegrain,Île-de-France,Paris,FR,VeryLikelyOpen,9.995013e+07,48.876300,2.294010,0.0
3,Béchu,4.0,150,€€,Bakery,118 avenue Victor Hugo,Île-de-France,Paris,FR,LikelyOpen,2.104052e+08,48.865057,2.286521,2.0
4,Restaurant Brach,5.0,41,€€,Restaurant,Hôtel Brach,Île-de-France,Paris,FR,LikelyOpen,3.625500e+04,48.856266,2.278149,1.0
5,Saint-James Club,5.0,64,€€€,Hotel Bar,43 avenue Bugeaud,Île-de-France,Paris,FR,LikelyOpen,5.167093e+08,48.854390,2.295050,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,Cirque Electrique,4.5,120,€€€€,Circus,10 place du Maquis du vercors,Île-de-France,Paris,FR,LikelyOpen,1.752711e+10,48.858190,2.301830,13.0
1456,Au Métro des Lilas,5.0,11,€€,Coffee Shop,261 avenue Gambetta,Île-de-France,Paris,FR,VeryLikelyOpen,1.801312e+10,48.854550,2.307650,11.0
1457,CGR Paris,4.0,251,€€€€,Movie Theater,place du Maquis du Vercors,Île-de-France,Paris,FR,LikelyOpen,1.604328e+10,48.860180,2.305940,4.0
1458,Théâtre National de la Colline,4.0,400,€€€€,Concert Hall,"15 rue Malte-Brun, 20th",Île-de-France,Paris,FR,VeryLikelyOpen,5.400059e+07,48.856811,2.327851,0.0
1459,La Maroquinerie,4.0,77,€€€,Music Venue,"23 rue Boyer, 20e",Île-de-France,Paris,FR,VeryLikelyOpen,1.801313e+10,48.856564,2.308482,2.0

In [7]:

sorted_df = df.sort_values(by='rating', ascending=False)

In [ ]:
sorted_df.head(10)