## CityBikes

In [3]:
import pandas as pd 
import requests

In [4]:
networks_url = 'http://api.citybik.es/v2/networks'
response = requests.get(networks_url)

In [5]:
if response.status_code == 200:  
    networks_data = response.json()

## Choose Paris as the city covered by the CityBikes API and retrieve all available bike stations in that city.

In [13]:
desired_city = 'Paris'

In [14]:
networks_data['networks'][0]['location']['city']

'Moscow'

In [15]:

city_network = None 
for network in networks_data['networks']:
    if network['location']['city'] == "Paris":
            city_network = network

In [16]:
city_network

{'company': None,
 'ebikes': True,
 'gbfs_href': 'https://velib-metropole-opendata.smoove.pro/opendata/Velib_Metropole/gbfs.json',
 'href': '/v2/networks/velib',
 'id': 'velib',
 'license': {'name': 'OPEN LICENCE 2.0',
  'url': 'etalab.gouv.fr/wp-content/uploads/2018/11/open-licence.pdf'},
 'location': {'city': 'Paris',
  'country': 'FR',
  'latitude': 48.856614,
  'longitude': 2.3522219},
 'name': "Vélib' Métropole"}

In [17]:
lat = city_network['location']['latitude']
log = city_network['location']['longitude']

lat, log

(48.856614, 2.3522219)

In [18]:
if city_network:
        network_id = city_network['id']
        city_stations_url = f'http://api.citybik.es/v2/networks/{network_id}'
        response_bike_id = requests.get(city_stations_url)

In [19]:
if response_bike_id.status_code == 200: 
            city_data = response_bike_id.json()

## For each bike station, use the API to call the latitude, longitude and number of bikes.

In [26]:
station_info = []

stations = city_data['network']['stations'] 
for station in stations:
    station_info.append({
        'Latitude': station['latitude'],
        'Longitude': station['longitude'],
        'Available Bikes': station['extra']['ebikes'] if 'extra' in station and 'ebikes' in station['extra'] else None,
        'Empty Slots': station['empty_slots'],
        'Station ID': station['extra']['station_id'] if 'extra' in station and 'station_id' in station['extra'] else None,
    })

## Parse the JSON object into a Pandas dataframe.

In [29]:
station_data_frame = pd.DataFrame(station_info )

In [30]:
station_data_frame.head()

    Latitude  Longitude  Available Bikes  Empty Slots  Station ID
0  48.865983   2.275725                1           29   213688169
1  48.853756   2.339096                0           52    99950133
2  48.867872   2.364898                4           12   312165511
3  48.856452   2.334852                2           13   210405211
4  48.879296   2.337360                1           20       36255

In [37]:
station_data_frame.to_csv('data.csv')

In [38]:
pd.read_csv('data.csv')

,Unnamed: 0,Latitude,Longitude,Available Bikes,Empty Slots,Station ID
0,0,48.865983,2.275725,1,29,213688169
1,1,48.853756,2.339096,0,52,99950133
2,2,48.867872,2.364898,4,12,312165511
3,3,48.856452,2.334852,2,13,210405211
4,4,48.879296,2.337360,1,20,36255
...,...,...,...,...,...,...
1455,1455,48.939959,2.327957,13,1,17527110170
1456,1456,48.936094,2.343617,11,1,18013122841
1457,1457,48.832024,2.490271,4,1,16043282800
1458,1458,48.880598,2.376949,0,27,54000594
1459,1459,48.836919,2.391678,2,5,18013132487